@import url("https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.9/static/pretendard-dynamic-subset.min.css");

@import "tailwindcss";
@import "@llm-economy/tailwind";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 
  "Pretendard Variable",Pretendard,Helvetica, sans-serif;
}